# Bloquer l'accès à certains types de fichiers comme .phps, .cgi, .asp, etc.

<FilesMatch "\.(phps|cgi|asp|jsp)$">
Deny from all
</FilesMatch>

# Autoriser l'accès aux fichiers PHP du projet

<FilesMatch "\.(php|phtml|php3|php4|php5)$">
Require all granted
</FilesMatch>

# Autoriser l'accès à tous les autres fichiers

<Files "\*">
Require all granted
</Files>
